apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: qwen

resources:
- namespace.yaml
- serviceaccount.yaml
- daemonset-model-cache.yaml
- deployment-model.yaml
- service-model.yaml
- deployment-ui.yaml
- service-ui.yaml
- pdb-ui.yaml
- networkpolicy.yaml
- ingress.yaml
- config.yaml


# All environment-specific values are managed through config.yaml
# Update config.yaml to deploy to a different AWS account/region
  # Replace IAM Role ARN in ServiceAccount

  # Replace Model Image in Deployment

  # Replace UI Image in Deployment

  # Replace Model Image in DaemonSet

  # Replace S3 Bucket in DaemonSet env var

  # Replace AWS Region in DaemonSet

  # Replace IAM Role ARN in DaemonSet

  # Replace Domain in Ingress

  # Replace Certificate ARN in Ingress

  # Replace Cognito IDP config in Ingress

  # Replace WAF WebACL ARN in Ingress

  # Replace ALB Security Group in Ingress
replacements:
- source:
    fieldPath: data.IAM_ROLE_ARN
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - metadata.annotations.[eks.amazonaws.com/role-arn]
    select:
      kind: ServiceAccount
      name: qwen-s3-access
- source:
    fieldPath: data.MODEL_IMAGE
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=model].image
    select:
      kind: Deployment
      name: qwen-model
- source:
    fieldPath: data.UI_IMAGE
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=ui].image
    select:
      kind: Deployment
      name: qwen-ui
- source:
    fieldPath: data.MODEL_IMAGE
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.initContainers.[name=download-model].image
    select:
      kind: DaemonSet
      name: qwen-model-cache
- source:
    fieldPath: data.S3_BUCKET
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.initContainers.[name=download-model].env.[name=S3_BUCKET].value
    select:
      kind: DaemonSet
      name: qwen-model-cache
- source:
    fieldPath: data.AWS_REGION
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.initContainers.[name=download-model].env.[name=AWS_REGION].value
    select:
      kind: DaemonSet
      name: qwen-model-cache
- source:
    fieldPath: data.IAM_ROLE_ARN
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.template.spec.initContainers.[name=download-model].env.[name=AWS_ROLE_ARN].value
    select:
      kind: DaemonSet
      name: qwen-model-cache
- source:
    fieldPath: data.DOMAIN
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - spec.rules.0.host
    select:
      kind: Ingress
      name: qwen-ingress
- source:
    fieldPath: data.CERTIFICATE_ARN
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - metadata.annotations.[alb.ingress.kubernetes.io/certificate-arn]
    select:
      kind: Ingress
      name: qwen-ingress
- source:
    fieldPath: data.COGNITO_IDP_CONFIG
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - metadata.annotations.[alb.ingress.kubernetes.io/auth-idp-cognito]
    select:
      kind: Ingress
      name: qwen-ingress
- source:
    fieldPath: data.WAF_ACL_ARN
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - metadata.annotations.[alb.ingress.kubernetes.io/wafv2-acl-arn]
    select:
      kind: Ingress
      name: qwen-ingress
- source:
    fieldPath: data.ALB_SECURITY_GROUP
    kind: ConfigMap
    name: deployment-config
  targets:
  - fieldPaths:
    - metadata.annotations.[alb.ingress.kubernetes.io/security-groups]
    select:
      kind: Ingress
      name: qwen-ingress
labels:
- includeSelectors: true
  pairs:
    managed-by: kustomize
    project: qwen-image-edit
